.weatherDataContainer {
    padding: 50px 50px;
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1.5fr;
    text-shadow: 1px 1px 2px black;
    
    & .citiesSearch {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom: 1px solid #829f9a;

        & > div {
            margin-top: 25px;
        }

        & > div:first-child  {
            margin-top: 0;
        }
    }

    & .weatherDataDetails {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #829f9a;

        & h2 {
            font-size: inherit;
            color: white;
            margin: 25px 0 10px;
            text-shadow: none;
        }

        > div {
            margin: 20px 0;
            display: flex;
            justify-content: space-between;
        }
    }
}