* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, Nunito, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1f1e1e;
}

.backgroundTransition-appear {
  transform: translateY(-150%);
}

.backgroundTransition-appear-done {
  transform: translateY(0);
}



